<div class="ui main text container">
    <h1 class="ui header">Sync Starter</h1>
    <blockquote>What you see might be simple, those who do it know and cite it every well better than what you see.
      <cite>Borrom Sync</cite>
    </blockquote>
  </div>
  <div class="ui borderless main menu">
    <div class="ui text container">
      <a routerLink="/">
      <div class="header item">
        <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">
        Sync Starter
      </div>
      </a>
      <a routerLink="/android" class="item">Android</a>
      <a routerLink="/rails" class="item">Rails</a>
      <a routerLink="/angular"  class="item">Angular</a>
    </div>
  </div>
