<div class="ui fixed menu">
    <div class="ui container">
      <a routerLink="/backend" class="header item">
        <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">
        Sync Starter
      </a>
      <div class="ui simple dropdown item right"><i class="setting icon"></i>
        <div class="menu">
          <a class="item" routerLink="/" target="_blank">Live</a>
          <a class="item" routerLink="new-article">New Article</a>
          <a class="item" routerLink="user">Users</a>
          <a class="item" routerLink="/login">Logout</a>
        </div>
      </div>
    </div>
  </div>