<div class="ui large active centered inline loader" *ngIf="loading"></div>

<table class="ui loading compact celled definition table" *ngIf="!loading">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Parent</th>
      <th>Create By</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let article of articles">
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>{{article.title}}</td>
      <td>{{article.perent}}</td>
      <td>jhlilk22@yahoo.com</td>
      <td><a><i class="edit icon" (click)="onEdit(article)"></i></a></td>
    </tr>
  </tbody>
</table>
