<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Parent</th>
      <th>Create By</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let article of articles">
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>{{article.title}}</td>
      <td>{{article.perent}}</td>
      <td>jhlilk22@yahoo.com</td>
      <td><a [routerLink]="['edit-article', 1]"><i class="edit icon"></i></a></td>
    </tr>
  </tbody>
</table>
