<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Parent</th>
      <th>Create By</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>John Lilki</td>
      <td>September 14, 2013</td>
      <td>jhlilk22@yahoo.com</td>
      <td><a [routerLink]="['edit-article', 1]"><i class="edit icon"></i></a></td>
    </tr>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>Jamie Harington</td>
      <td>January 11, 2014</td>
      <td>jamieharingonton@yahoo.com</td>
      <td><a [routerLink]="['edit-article', 1]"><i class="edit icon"></i></a></td>
    </tr>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>Jill Lewis</td>
      <td>May 11, 2014</td>
      <td>jilsewris22@yahoo.com</td>
      <td><a [routerLink]="['edit-article', 1]"><i class="edit icon"></i></a></td>
    </tr>
  </tbody>
</table>
